auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentf
/projectile-bookmarks.eld
/projectile.cache
/transient/history.el
/transient/values.el
