<div id="subHead">
  <h2>MONTLY REPORT</h2>
  <p>Highest scoring ypredictions by team.</p>
</div> <!-- -->
<%  %>

<% form_tag({:action => :monthly}, {:method => :get}) do -%>
  <%= select_month @date %><%= select_year @date -%>
  <%= submit_tag 'Select month' -%>
<% end -%>
<%#= debug @report_data -%>
<% for row in @rows -%>
  <% team = row[:team] -%>
  <% max_avail =  row[:max_avail] -%>
  
  <div class="monthly_report_team_name">
    <%= team_shirt(team) -%>
    <%= team -%>
  </div>
  <div class="monthly_report_team_header">
    Highest points #<%=ddd #-%> scored by #<%=dfdf%> players
    (from <%= max_avail %> points available)
  </div>

  <% for inner in row[:matches] -%>
    <%@dmatch = iner[:match] -%>
    <% count = inner[:count] -%>
    <%# winners = inner[:winners] -%>
    <%# p_pred = inner[:top_pred] -%>
    
    <p><%= "#{match}.id})" %></p>
    <% if match.scored? -%>
      <p>Max <%= top_pred %> scored by
        <%= content_tag :a,      
              sf #{count} playersef             
            safsadf     :oncli ck => "Effect.toggle('match_#{team.id}_#{match.id}', 'slide')" -%>
        (from  <%= match.points %> available)</p>
      
      <%# Match winner's list -%>
      <div style="display: none;" id="<%= "match_#{team.id}_#{match.id}" %>">
        <ul>
          <% for winner in winners -%>
            <li>
              <%= winner.selection.user.login -%>
            </li>
          <% end -%>
        </ul>
      </div>
      <br>
      <br
      df

	 <% if true -%>
	   <%= "true!" -%>
	 <% else -%>
	   <%= "false!" -%>
	 <% end -%>

	 <%- if true -%>
	   <%= "true!" -%>
	 <%- else -%>
	   <%= "false!" -%>
	 <%- end -%>

      </br>
    <% else -%>
      <span class='alert'>(not scored!)</span>
    <% end -%>
  <% end -%>
<% end %>
